.game-over-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(74, 52, 37, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-over-panel button {
    height: 36px;
    background-color: #d59867;
    color: #f9f6f2;
    font-size: 16px;
    line-height: 16px;
    outline: none;
    cursor: pointer;
}